.search-form {
  position: relative;
  display: inline-block;

  &__input {
    padding-left: rem(37);
    width: rem(216);
    height: rem(38);
    border-radius: 8px;
    background-color: $color-accessory-light;
    border: none;

    &::placeholder {
      color: $color-accessory-dark;
      font-size: rem(12);
    }
  }
  &__button {
    position: absolute;
    top: 47%;
    left: 8%;
    transform: translate(-50%, -50%);
    width: rem(24);
    height: rem(24);
    padding: 0;
    border: none;
    background: transparent;
  }
  &__icon {
    width: rem(24);
    height: rem(24);
  }
}
