// Map of breakpoints
$breakpoints: (
  st: 320px,
  xs: 360px,
  psw: 412px,
  sm: 480px,
  ms: 640px,
  psh: 732px,
  md: 768px,
  mf: 921px,
  def: 1024px,
  hg: 1150px,
  lg: 1280px,
  xl: 1366px,
  mg: 1440px,
  note: 1536px,
  container: 1610px,
  dt: 1920px,
);

// Fonts
$font-primary: 'Poppins', sans-serif;

// Colors
$color-text-primary: #292d32;
$color-text-secondary: #9197b3;

$color-background-primary: #ffffff;
$color-background-secondary: #f9fbff;

$color-text-active: #008767;
$color-active: #16c098;
$color-text-inactive: #df0404;
$color-inactive: #ffc5c5;
$color-text-selected: #ffffff;
$color-selected: #5932ea;

$color-accessory-light: #e7e7e7;
$color-accessory: #b5b7c0;
$color-accessory-dark: #b5b7c0;
