.customers {
  @include media(sm) {
    flex-grow: 1;
    padding: 0 rem(20) rem(36);
    overflow: hidden;
    background-color: $color-background-secondary;

    @include media(def) {
      padding: 0 rem(70) rem(36);
    }
  }

  .customers-inner {
    background-color: $color-background-primary;
    padding: rem(40) rem(30);
    border-radius: rem(15);
  }
}

.customers-about {
  margin-bottom: rem(40);

  @include media(ms) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__text {
    @media (max-width: 639px) {
      margin-bottom: rem(30);
    }
  }

  &__title {
    color: $color-text-tertiary;
    font-size: rem(22);
    font-weight: 600;
    margin-bottom: rem(7);

    @include media(sm) {
      font-size: rem(16);
    }

    @include media(800px) {
      font-size: rem(22);
    }
  }

  &__category {
    font-size: rem(14);
    color: $color-text-active-light;
  }
}

.customers-table {
  color: $color-text-primary;
  font-size: rem(14);
  font-weight: 500;
  border-collapse: collapse;
  overflow: auto;
  width: 100%;
  margin-bottom: rem(30);

  @media (max-width: 945px) {
    display: block;
  }

  & th {
    color: $color-accessory-dark;
    border-bottom: 1px solid $color-accessory-light;
    padding: rem(20) rem(5);
  }

  & td {
    border-bottom: 1px solid $color-accessory-light;
    padding: rem(20) rem(5);

    & > div {
      background-color: $color-inactive;
      border: 1px solid $color-text-inactive;
      color: $color-text-inactive;
      border-radius: 4px;
      padding: rem(5) rem(10);
      max-width: rem(85);
      text-align: center;
    }

    &.is-active > div {
      background-color: $color-active;
      border: 1px solid $color-text-active;
      color: $color-text-active;
    }
  }
}

.customers-page-info {
  color: $color-accessory-dark;

  @include media(ms) {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    font-size: rem(14);
    font-weight: 500;

    @media (max-width: 639px) {
      margin-bottom: rem(30);
    }

    @include media(ms) {
      margin-right: rem(10);
    }
  }

  &__button-wrapper {
    color: $color-text-primary;
    font-size: rem(12);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: rem(12);
    justify-content: center;
  }

  &__button {
    width: rem(25);
    height: rem(25);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 3px;

    &.is-active {
      background-color: $color-selected;
      color: $color-text-selected;
    }
  }

  &__icon {
    width: rem(8);
    height: rem(8);
    &--right {
      transform: scale(-1);
    }
  }
}
