.header {
  background-color: $color-background-primary;
}
.logo {
  padding: rem(20) rem(10);
  display: flex;
  align-items: center;

  @include media(sm) {
    min-width: rem(200);
  }
  @include media(md) {
    min-width: rem(306);
  }

  &__icon {
    width: rem(55);
    height: rem(55);

    @include media(sm) {
      width: rem(37);
      height: rem(37);
    }
  }

  &__name {
    color: $color-text-tertiary;
    font-weight: 600;
    font-size: rem(36);

    @include media(sm) {
      font-size: rem(16);
    }

    @include media(md) {
      font-size: rem(26);
    }
  }

  &__version {
    color: $color-accessory;
    font-weight: 500;
    font-size: rem(14);
    margin-bottom: rem(-15);

    @include media(sm) {
      font-size: rem(6);
      margin-bottom: rem(-7.5);
    }
    @include media(md) {
      font-size: rem(14);
    }
  }
}
.welcome-text-wrapper {
  background-color: $color-background-primary;
  position: relative;
  @include media(sm) {
    flex-grow: 1;
    background-color: $color-background-secondary;
    background-color: #871a1a;
  }
}
.welcome-text {
  color: $color-text-tertiary;
  font-size: rem(24);
  font-weight: 500;

  @include media(sm) {
    position: absolute;
    top: 50%;
    left: rem(10);
    transform: translate(rem(10), -50%);
  }
}
