.header {
  background-color: $color-background-primary;
}

.logo {
  padding: rem(16);
  display: flex;
  align-items: center;

  @include media(sm) {
    min-width: rem(200);
  }

  @include media(def) {
    padding: rem(36);
    min-width: rem(306);
  }

  &__icon {
    width: rem(55);
    height: rem(55);

    @include media(sm) {
      width: rem(37);
      height: rem(37);
    }
  }

  &__text {
    display: flex;
    align-items: baseline;
  }

  &__name {
    color: $color-text-tertiary;
    font-weight: 600;
    font-size: rem(36);
    margin: 0 rem(4) 0 rem(8);

    @include media(sm) {
      font-size: rem(16);
    }

    @include media(def) {
      font-size: rem(26);
    }
  }

  &__version {
    color: $color-accessory;
    font-weight: 500;
    font-size: rem(14);

    @include media(sm) {
      font-size: rem(6);
    }
    @include media(def) {
      font-size: rem(14);
    }
  }
}

.welcome-text-wrapper {
  background-color: $color-background-primary;
  padding: rem(19) 0 0 rem(16);

  @include media(sm) {
    flex-grow: 1;
    background-color: $color-background-secondary;
  }
  @include media(def) {
    padding: rem(36) 0 0 rem(70);
  }
}
.welcome-text {
  color: $color-text-tertiary;
  font-size: rem(24);
  font-weight: 500;
}
